<strong>Olá, {{ deliveryman }}</strong>
<p>Acabou de ser direcionado para uma nova encomenda
</p>
<p>
  <strong>Destino: </strong> {{ recipient.name }} <br />
  <strong>Produto: </strong> {{ product }} <br /><br />
  Endereço:::::<br />
  <strong>CEP: </strong> {{ recipient.zipcode }} <br />
  <strong>Estado: </strong> {{ recipient.state }} <br />
  <strong>Cidade: </strong> {{ recipient.city }} <br />
  <strong>Bairro: </strong> {{ recipient.district }} <br />
  <strong>Rua: </strong> {{ recipient.street }} <br />
  <strong>Numero: </strong> {{ recipient.number }} <br />
  <strong>Complemento: </strong> {{ recipient.complement }} <br />
  <br />
  <small>
    Parabéns.
  </small>
</p>
